header {
  background-color: rgb(178, 248, 225);
  border: 1px solid red;

}

.place {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(129, 127, 127);
  }