.title {
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Impact 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: blue;
    background-color: bisque;
}